:root {
    --main-blue: rgba(4, 184, 245, 255);
    --bg-color: rgba(242, 252, 255, 255);
    --darker-blue: rgba(0, 66, 88, 255);
}

.basic_page_nav h1 {
    font-size: 3em;
    margin-top: 20px;
    font-weight: 600;
    color: var(--darker-blue);
}

.basic_page_nav {
    margin-top: 175px;
}

.nav_hexagon {
    background-color: rgba(218,244,253,255);
    height: 400px;
    width: 400px;
    transform: rotate(10deg);
    z-index: -9;
    top: -1%;
    left: -7%;
}

@media only screen and (min-width: 768px) {
    /* TABLET */

    .basic_page_nav h1 {
        font-size: 3em;
        margin-top: 20px;
        font-weight: 600;
        color: var(--darker-blue);
    }

    .basic_page_nav {
        margin-top: 200px;
    }

    .nav_hexagon {
        background-color: rgba(218,244,253,255);
        height: 450px;
        width: 450px;
        transform: rotate(10deg);
        z-index: -9;
        top: -5%;
        left: -3%;
    }

}

@media only screen and (min-width: 992px) {
    /* SMALL SCREEN / BIG TABLET */

    .basic_page_nav {
        margin-top: 150px;
    }

    .nav_hexagon {
        background-color: rgba(218,244,253,255);
        height: 450px;
        width: 450px;
        transform: rotate(10deg);
        z-index: -9;
        top: -8%;
        left: -2%;
    }
}

@media only screen and (min-width: 1200px) {
    /* LAPTOP (MAC AIR 13") */

    .basic_page_nav h1 {
        font-size: 3em;
        margin-top: 20px;
        font-weight: 600;
        color: var(--darker-blue);
    }

    .basic_page_nav {
        margin-top: 150px;
    }

    .nav_hexagon {
        background-color: rgba(218,244,253,255);
        height: 450px;
        width: 450px;
        transform: rotate(10deg);
        z-index: -9;
        top: -9%;
        left: -2%;
    }
}

@media only screen and (min-width: 1700px) {
    .basic_page_nav {
        margin-top: 200px;
    }

    .nav_hexagon {
        background-color: rgba(218,244,253,255);
        height: 500px;
        width: 500px;
        transform: rotate(10deg);
        z-index: -9;
        top: -9%;
        left: -2%;
    }
}

@media only screen and (min-width: 1920px) {
    /* 24" */

    .basic_page_nav {
        margin-top: 150px;
    }

    .nav_hexagon {
        background-color: rgba(218,244,253,255);
        height: 500px;
        width: 500px;
        transform: rotate(10deg);
        z-index: -9;
        top: -11%;
        left: -2%;
    }
}

@media only screen and (min-width: 2560px) {
    /* 27" */

    .basic_page_nav {
        margin-top: 200px;
    }

    .nav_hexagon {
        background-color: rgba(218,244,253,255);
        height: 600px;
        width: 600px;
        transform: rotate(10deg);
        z-index: -9;
        top: -13%;
        left: -2%;
    }
}