:root {
    --main-blue: rgba(4, 184, 245, 255);
    --bg-color: rgba(242, 252, 255, 255);
    --darker-blue: rgba(0, 66, 88, 255);
}

h1 {
    font-weight: 800 !important;
}

body {
    position: relative;
    overflow: hidden !important;
}

#landing_main_div {
    margin-top: 150px;
}

#landing_img_div img {
    width: 100%;
}

#landing_section {
    display: flex;
    flex-direction: column;
}

#landing_section h1 {
    font-size: 2.5em !important;
    line-height: 1;
}

#landing_section p {
    font-size: 1.1em;
    margin-top: 20px;
}

#landing_section .landing_buttons a {
    margin-right: 15px;
}

#landing_section img {
    margin-top: 20px;
}

/* #landing_section {
    min-height: 100vh !important;
} */

#select_section {
    display: flex;
    flex-direction: column;
    margin-top: 25px !important;
}

#info_txt p {
    font-size: 1.1em;
}

#info_txt h1 {
    font-size: 2.2em !important;
    line-height: 1;
    margin-bottom: 20px;
}

#select_menu {
    margin-top: 20px;
}

.select_menu {
    display: flex;
    justify-content: center;
}

.select-clickable {
    background-color: var(--main-blue);
    border-radius: 25px;
    font-size: 1em;
    padding: 20px 20px 20px 40px;
    width: 100%;
    color: white;
    z-index: 100;
}

.dropdown-table {
    background-color: white;
    margin-bottom: 25px;
    /* margin-right: 100px; */
    border-radius: 0 0 25px 25px;
    width: 100%;
    display: none;
    z-index: -9;
    margin-top: -15px;
    position: relative;
}

.first_row {
    padding-top: 40px !important;
}

.select-clickable:hover {
    cursor: pointer;
}

.table-row {
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.table-title {
    width: 33%;
    margin-right: 50px !important;
}

.table-content {
    width: 60%;
}

#section_table_main {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

#customer_table {
    table-layout: fixed;
    width: 80%;
    margin-top: 50px;
}

#customer_table thead {
    background-color: var(--darker-blue);
    color: white;
}

#customer_table tbody tr {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 0 0 10px 10px !important;
}

#customer_table th,
td {
    border: none !important;
    padding: 30px;
}

#customer_table th:first-child {
    border-radius: 10px 10px 0 0 !important;
    font-size: 1em;
}

#customer_table td {
    display: flex;
    justify-content: center;
}

#customer_table td img {
    width: 100%;
}

#section_admin_support {
    padding-left: 24px !important;
}

#section_admin_support img {
    width: 100%;
    margin-top: 50px;
}

#providing_img_div {
    display: none;
}

#section_ideal_addition img {
    width: 100%;
    margin-top: 50px;
}

#flexible_img_div {
    display: none;
}

#section_testimonials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;
}

#testimonials_intro_div {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 150px;
    text-align: center;
}

#testimonials_customers_div {
    width: 100%;
}

.author {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    color: white;
}

.author img {
    width: 45%;
    margin-right: 20px;
}

#testimonial_hexagon_blue {
    top: 77%;
    left: -50%;
    background-color: var(--main-blue);
    width: 800px;
    height: 800px;
    z-index: -100;
    transform: rotate(35deg);
}

@media only screen and (min-width: 500px) {
    /* TABLET */

    #testimonial_hexagon_blue {
        top: 75%;
        left: -50%;
        background-color: var(--main-blue);
        width: 1000px;
        height: 1000px;
        z-index: -100;
        transform: rotate(35deg);
    }
}

@media only screen and (min-width: 600px) {
    /* TABLET */
    #testimonial_hexagon_blue {
        top: 75%;
        left: -40%;
        background-color: var(--main-blue);
        width: 1000px;
        height: 1000px;
        z-index: -100;
        transform: rotate(35deg);
    }
}

@media only screen and (min-width: 700px) {
    /* TABLET */
    #testimonial_hexagon_blue {
        top: 75%;
        left: -30%;
        background-color: var(--main-blue);
        width: 1100px;
        height: 1100px;
        z-index: -100;
        transform: rotate(35deg);
    }
}

@media only screen and (min-width: 768px) {
    /* TABLET */
    #testimonial_hexagon_blue {
        top: 76%;
        left: -25%;
        background-color: var(--main-blue);
        width: 1100px;
        height: 1100px;
        z-index: -100;
        transform: rotate(35deg);
    }
}

@media only screen and (min-width: 860px) {
    /* TABLET */
    #testimonial_hexagon_blue {
        top: 76%;
        left: -25%;
        background-color: var(--main-blue);
        width: 1300px;
        height: 1300px;
        z-index: -100;
        transform: rotate(35deg);
    }
}

@media only screen and (min-width: 992px) {
    /* SMALL SCREEN / BIG TABLET */
    #testimonial_hexagon_blue {
        top: 76.5%;
        left: -25%;
        background-color: var(--main-blue);
        width: 1400px;
        height: 1400px;
        z-index: -100;
        transform: rotate(35deg);
    }

    .author img {
        width: 30%;
        margin-right: 20px;
    }

    #testimonials_intro_div {
        margin-bottom: 100px;
    }

    #section_table_main {
        display: flex;
        justify-content: center;
        padding-bottom: 150px;
    }

    #customer_table {
        table-layout: fixed;
        width: 80%;
        margin-top: 100px;
    }

    #customer_table thead {
        background-color: var(--darker-blue);
        color: white;
    }

    #customer_table tbody tr {
        background-color: white;
        display: flex;
        flex-direction: row;
        justify-content: center;
        border-radius: 0 0 10px 10px !important;
    }

    #customer_table th,
    td {
        border: none !important;
        padding: 30px;
    }

    #customer_table th:first-child {
        border-radius: 10px 10px 0 0 !important;
        font-size: 1em;
    }

    #customer_table td {
        width: 33%;
        display: flex;
        justify-content: center;
    }

    #customer_table td img {
        width: 80%;
    }
}

@media only screen and (min-width: 1100px) {
    /* TABLET */
    #testimonial_hexagon_blue {
        top: 77.5%;
        left: -25%;
        background-color: var(--main-blue);
        width: 1500px;
        height: 1500px;
        z-index: -100;
        transform: rotate(35deg);
    }
}

@media only screen and (min-width: 1200px) {

    /* LAPTOP (MAC AIR 13") */

    #testimonials_intro_div {
        margin-top: 100px;
    }

    .author img {
        width: 25%;
        margin-right: 20px;
    }

    #testimonial_hexagon_blue {
        top: 80%;
        left: -25%;
        background-color: var(--main-blue);
        width: 1700px;
        height: 1700px;
        z-index: -100;
        transform: rotate(35deg);
    }

    h1 {
        line-height: 1;
    }

    .bg-section {
        background-color: var(--bg-color);
        z-index: -90;
    }

    #landing_section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        /* min-height: 100vh; */
        margin-bottom: 100px;
    }

    #landing_section h1 {
        font-size: 3em !important;
        line-height: 1;
        margin-top: 100px;
        font-weight: 800 !important;
    }

    #landing_section p {
        font-size: 1em;
        margin-top: 30px;
    }

    #landing_img_div {
        margin-top: 200px;
        width: 60%;
        /* margin-right: 120px; */
        text-align: right;
    }

    #landing_section img {
        width: 100%;
    }

    #landing_section .landing_buttons a {
        margin-right: 15px;
        font-size: 1em;
    }

    #landing_main_div {
        /* display: flex;
        flex-direction: column;
        justify-content: center; */
        margin-top: 150px;
        width: 70%;
    }

    #select_menu {
        margin-left: 100px;
        width: 100%;
    }

    .select-clickable {
        background-color: white;
        border-radius: 25px;
        font-size: 1.3em;
        padding: 20px 20px 20px 40px;
        width: 100%;
        color: var(--main-blue);
        z-index: 100;
    }

    .dropdown-table {
        background-color: var(--bg-color);
        margin-top: -22px;
    }

    #select_section {
        min-height: 770px;
        display: flex;
        flex-direction: row;
        margin-top: 20px !important;
    }

    #info_txt {
        max-width: 40%;
        margin-top: 20px !important;
    }

    #info_txt p {
        font-size: 1.1em;
        /* margin-top: 45px; */
    }

    #info_txt h1 {
        font-size: 2.2em !important;
        line-height: 1;
    }

    #select_hexagon_blue {
        top: 10%;
        right: -30%;
        background-color: var(--main-blue);
        width: 1300px;
        height: 1300px;
        z-index: -100;
        transform: rotate(75deg);
    }

    #select_hexagon_white {
        top: 11%;
        left: -40%;
        background-color: white;
        width: 1100px;
        height: 1100px;
        z-index: -99;
        transform: rotate(2deg);
    }

    #section_table_main {
        display: flex;
        justify-content: center;
        padding-bottom: 150px;
    }

    #customer_table {
        table-layout: fixed;
        width: 80%;
        margin-top: 100px;
    }

    #customer_table thead {
        background-color: var(--darker-blue);
        color: white;
    }

    #customer_table tbody tr {
        background-color: white;
        display: flex;
        flex-direction: row;
        justify-content: center;
        border-radius: 0 0 10px 10px !important;
    }

    #customer_table th,
    td {
        border: none !important;
        padding: 30px;
    }

    #customer_table th:first-child {
        border-radius: 10px 10px 0 0 !important;
        font-size: 1.3em;
    }

    #customer_table td {
        width: 33%;
        display: flex;
        justify-content: center;
    }

    #customer_table td img {
        width: 80%;
    }

    #section_admin_support {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    #admin_support_div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 55% !important;
    }

    #section_admin_support img {
        width: 55%;
        z-index: 10;
    }

    #section_providing_pmo {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    #providing_support_div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 55% !important;
    }

    #providing_img_div {
        width: 45%;
        margin-right: 150px;
        display: block;
    }

    #section_providing_pmo img {
        width: 100%;
    }

    #section_ideal_addition {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    #ideal_addition_div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50% !important;
    }

    #section_ideal_addition img {
        width: 50%;
    }

    #section_hyper_flexible {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    #hyper_flexible_div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 55% !important;
    }

    #flexible_img_div {
        width: 40%;
        margin-right: 150px;
        display: block;
    }

    #section_hyper_flexible img {
        width: 100%;
    }

    /* HEXAGONS  */

    #admin_hexagon_white {
        top: 37%;
        right: -3%;
        background-color: white;
        width: 500px;
        height: 500px;
    }

    #pmo_hexagon_white {
        z-index: -9;
        top: 46.5%;
        left: -10%;
        background-color: white;
        width: 500px;
        height: 500px;
        transform: rotate(90deg);
    }

    #addition_hexagon_white {
        z-index: -9;
        top: 56.5%;
        right: -3%;
        background-color: white;
        width: 500px;
        height: 500px;
    }

    #flexible_hexagon_white {
        z-index: -9;
        top: 66%;
        left: -10%;
        background-color: white;
        width: 500px;
        height: 500px;
        transform: rotate(90deg);
    }
}

@media only screen and (min-width: 1300px) {

    #admin_hexagon_white {
        top: 36%;
        right: -3%;
    }

    #pmo_hexagon_white {
        top: 46.5%;
        left: -10%;
    }

    #addition_hexagon_white {
        top: 57%;
        right: -3%;
    }

    #flexible_hexagon_white {
        top: 67%;
        left: -10%;
    }

    #testimonial_hexagon_blue {
        top: 79.5%;
        left: -25%;
        background-color: var(--main-blue);
        width: 1900px;
        height: 1900px;
        z-index: -100;
        transform: rotate(35deg);
    }

    #select_hexagon_blue {
        top: 10%;
        right: -30%;
        background-color: var(--main-blue);
        width: 1300px;
        height: 1300px;
        z-index: -100;
        transform: rotate(75deg);
    }

    #select_hexagon_white {
        top: 10%;
        left: -40%;
        background-color: white;
        width: 1200px;
        height: 1200px;
        z-index: -99;
        transform: rotate(2deg);
    }
}

@media only screen and (min-width: 1400px) {
    
    #admin_hexagon_white {
        top: 35%;
        right: -3%;
        width: 600px;
        height: 600px;
    }

    #pmo_hexagon_white {
        top: 46%;
        left: -10%;
        width: 600px;
        height: 600px;
    }

    #addition_hexagon_white {
        top: 56.5%;
        right: -3%;
        width: 600px;
        height: 600px;
    }

    #flexible_hexagon_white {
        top: 67%;
        left: -10%;
        width: 600px;
        height: 600px;
    }

    #testimonial_hexagon_blue {
        top: 79.5%;
        left: -25%;
        width: 2000px;
        height: 2000px;
    }

    #select_hexagon_blue {
        top: 10%;
        right: -30%;
        background-color: var(--main-blue);
        width: 1400px;
        height: 1400px;
        z-index: -100;
        transform: rotate(75deg);
    }

    #select_hexagon_white {
        top: 10%;
        left: -42%;
        background-color: white;
        width: 1300px;
        height: 1300px;
        z-index: -99;
        transform: rotate(2deg);
    }
}

@media only screen and (min-width: 1500px) {

    #admin_hexagon_white {
        top: 34%;
        right: -3%;
    }

    #pmo_hexagon_white {
        top: 45%;
        left: -10%;
    }

    #addition_hexagon_white {
        top: 56.5%;
        right: -3%;
    }

    #flexible_hexagon_white {
        top: 67%;
        left: -10%;
    }

    #testimonial_hexagon_blue {
        top: 79.5%;
        left: -25%;
        width: 2200px;
        height: 2200px;
    }

    #testimonials_intro_div {
        margin-bottom: 100px;
    }

    #select_hexagon_blue {
        top: 9%;
        right: -30%;
        background-color: var(--main-blue);
        width: 1500px;
        height: 1500px;
        z-index: -100;
        transform: rotate(75deg);
    }

    #select_hexagon_white {
        top: 9%;
        left: -42%;
        background-color: white;
        width: 1400px;
        height: 1400px;
        z-index: -99;
        transform: rotate(2deg);
    }

    #info_txt p {
        font-size: 1.2em;
    }
}

@media only screen and (min-width: 1600px) {

    #admin_hexagon_white {
        top: 34%;
        right: -3%;
        width: 700px;
        height: 700px;
    }

    #pmo_hexagon_white {
        top: 45%;
        left: -10%;
        width: 700px;
        height: 700px;
    }

    #addition_hexagon_white {
        top: 56.5%;
        right: -3%;
        width: 700px;
        height: 700px;
    }

    #flexible_hexagon_white {
        top: 68%;
        left: -10%;
        width: 700px;
        height: 700px;
    }

    #testimonial_hexagon_blue {
        top: 80.5%;
        left: -25%;
        width: 2300px;
        height: 2300px;
    }

    #testimonials_intro_div {
        margin-top: 0;
        margin-bottom: 100px;
    }

    #select_hexagon_blue {
        top: 9%;
        right: -30%;
        background-color: var(--main-blue);
        width: 1600px;
        height: 1600px;
        z-index: -100;
        transform: rotate(75deg);
    }

    #select_hexagon_white {
        top: 9%;
        left: -42%;
        background-color: white;
        width: 1500px;
        height: 1500px;
        z-index: -99;
        transform: rotate(2deg);
    }

    #select_menu {
        padding-left: 50px;
    }
}

@media only screen and (min-width: 1700px) {

    #admin_hexagon_white {
        top: 33%;
        right: -3%;
    }

    #pmo_hexagon_white {
        top: 45%;
        left: -10%;
    }

    #addition_hexagon_white {
        top: 57.5%;
        right: -3%;
    }

    #flexible_hexagon_white {
        top: 69%;
        left: -10%;
    }

    #testimonial_hexagon_blue {
        top: 80.5%;
        left: -25%;
        width: 2500px;
        height: 2500px;
    }

    #select_hexagon_blue {
        top: 9%;
        right: -30%;
        background-color: var(--main-blue);
        width: 1700px;
        height: 1700px;
        z-index: -100;
        transform: rotate(75deg);
    }

    #select_hexagon_white {
        top: 9%;
        left: -42%;
        background-color: white;
        width: 1600px;
        height: 1600px;
        z-index: -99;
        transform: rotate(2deg);
    }
}

@media only screen and (min-width: 1800px) {

    #admin_hexagon_white {
        top: 32%;
        right: -3%;
        width: 800px;
        height: 800px;
    }

    #pmo_hexagon_white {
        top: 44%;
        left: -10%;
        width: 800px;
        height: 800px;
    }

    #addition_hexagon_white {
        top: 57%;
        right: -3%;
        width: 800px;
        height: 800px;
    }

    #flexible_hexagon_white {
        top: 69%;
        left: -10%;
        width: 800px;
        height: 800px;
    }

    #testimonial_hexagon_blue {
        top: 81%;
        left: -25%;
        width: 2600px;
        height: 2600px;
    }

    #select_hexagon_blue {
        top: 9%;
        right: -30%;
        background-color: var(--main-blue);
        width: 1800px;
        height: 1800px;
        z-index: -100;
        transform: rotate(75deg);
    }

    #info_txt p {
        font-size: 1.3em;
    }

    #select_hexagon_white {
        top: 9%;
        left: -42%;
        background-color: white;
        width: 1700px;
        height: 1700px;
        z-index: -99;
        transform: rotate(2deg);
    }
}

@media only screen and (min-width: 1920px) {
    /* 24" */

    #select_hexagon_blue {
        top: 10%;
        right: -25%;
        background-color: var(--main-blue);
        width: 1900px;
        height: 1900px;
        z-index: -100;
        transform: rotate(70deg);
    }

    #select_hexagon_white {
        top: 12.5%;
        left: -15%;
        background-color: white;
        width: 1100px;
        height: 1100px;
        z-index: -99;
        transform: rotate(2deg);
    }

    #select_section {
        /* min-height: 100vh !important; */
        min-height: 700px;
        display: flex;
        flex-direction: row;
        margin-top: 20px !important;
        margin-bottom: 0px;
    }

    .select-option {
        padding-right: 100px;
    }

    .select-clickable {
        background-color: white;
        border-radius: 25px;
        font-size: 1.5em;
        padding: 20px 200px 20px 25px;
        width: 110%;
    }

    .dropdown-table {
        background-color: var(--bg-color);
        margin-bottom: 25px;
        /* margin-right: 100px; */
        border-radius: 0 0 25px 25px;
        width: 110%;
        display: none;
    }
    .select-clickable:hover {
        cursor: pointer;
    }

    .table-row {
        padding: 20px;
        display: flex;
        justify-content: space-between;
    }

    .table-title {
        width: 33%;
    }

    .table-content {
        width: 60%;
    }

    #info_txt {
        max-width: 30%;
        margin-top: 20px !important;
    }

    #info_txt p {
        font-size: 1.3em;
    }

    #info_txt h1 {
        font-size: 3em !important;
        font-weight: 800 !important;
        line-height: 1;
        margin-bottom: 45px;
    }

    body p {
        font-size: 1.3em;
    }

    #select_menu {
        padding-left: 200px;
    }

    #customer_table {
        width: 70%;
    }

    #admin_support_div {
        width: 40% !important;
    }

    #section_admin_support img {
        width: 45%;
    }

    #admin_hexagon_white {
        top: 33%;
        right: -3%;
        background-color: white;
        width: 850px;
        height: 850px;
    }

    #providing_support_div {
        width: 40% !important;
    }

    #providing_img_div {
        width: 40% !important;
        z-index: 10;
    }

    #pmo_hexagon_white {
        top: 45%;
        left: -12%;
        background-color: white;
        width: 850px;
        height: 850px;
        transform: rotate(90deg);
    }

    #ideal_addition_div {
        width: 35% !important;
    }

    #section_ideal_addition img {
        width: 45%;
        margin-left: 150px;
        z-index: 10;
    }

    #addition_hexagon_white {
        top: 57%;
        right: -3%;
        background-color: white;
        width: 850px;
        height: 850px;
    }

    #section_hyper_flexible {
        margin-bottom: 150px;
    }

    #hyper_flexible_div {
        width: 40% !important;
    }

    #flexible_img_div {
        width: 40%;
        margin-right: 150px;
        z-index: 10;
    }

    #flexible_hexagon_white {
        top: 70%;
        left: -12%;
        background-color: white;
        width: 850px;
        height: 850px;
        transform: rotate(90deg);
    }

    #section_testimonials {
        display: flex;
        flex-direction: row;
        justify-content: center;
        /* margin-bottom: 100px; */
    }

    #testimonials_intro_div {
        width: 20%;
        margin-right: 150px;
        margin-top: 80px;
    }

    #testimonials_customers_div {
        width: 50%;
    }

    .author {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        color: white;
    }

    .author img {
        width: 20%;
        margin-right: 20px;
    }

    #testimonial_hexagon_blue {
        top: 81%;
        left: 17%;
        background-color: var(--main-blue);
        width: 1900px;
        height: 1900px;
        z-index: -100;
        transform: rotate(35deg);
    }
}

@media only screen and (min-width: 2560px) {
    /* 27" */

    #landing_section {
        min-height: initial !important;
    }

    #landing_section h1 {
        margin-top: 200px;
    }

    #landing_section p {
        font-size: 1.2em;
        margin-top: 30px;
    }

    #landing_img_div {
        margin-top: 200px;
    }

    #landing_section img {
        width: 90%;
    }

    #landing_main_div {
        margin-top: 200px;
    }

    #select_hexagon_blue {
        top: 9%;
        right: -30%;
        background-color: var(--main-blue);
        width: 2600px;
        height: 2600px;
        z-index: -100;
        transform: rotate(70deg);
    }

    #select_menu {
        padding-left: 300px;
    }

    .select-clickable {
        font-size: 2em;
    }

    .dropdown-table {
        font-size: 1.5em;
    }

    #select_section {
        min-height: 900px;
    }

    #select_hexagon_white {
        top: 11%;
        left: -10%;
        background-color: white;
        width: 1500px;
        height: 1500px;
        z-index: -99;
        transform: rotate(2deg);
    }

    #admin_hexagon_white {
        top: 31%;
        right: -3%;
        background-color: white;
        width: 1000px;
        height: 1000px;
    }

    #pmo_hexagon_white {
        top: 44%;
        left: -10%;
        background-color: white;
        width: 1000px;
        height: 1000px;
        transform: rotate(90deg);
    }

    #addition_hexagon_white {
        top: 58%;
        right: -3%;
        background-color: white;
        width: 1000px;
        height: 1000px;
    }

    #flexible_hexagon_white {
        top: 72%;
        left: -10%;
        background-color: white;
        width: 1000px;
        height: 1000px;
        transform: rotate(90deg);
    }

    #testimonial_hexagon_blue {
        top: 85%;
        left: 25%;
        background-color: var(--main-blue);
        width: 1900px;
        height: 1900px;
        z-index: -100;
        transform: rotate(35deg);
    }
}