:root {
    --main-blue: rgba(4, 184, 245, 255);
    --bg-color: rgba(242, 252, 255, 255);
    --darker-blue: rgba(0, 66, 88, 255);
}

#nav_logo {
    width: 70%;
}

.navbar-brand {
    width: 60% !important;
}

@media only screen and (min-width: 768px) {
    /* TABLET */
    #nav_logo {
        width: 30%;
    }
}

@media only screen and (min-width: 992px) {
    /* SMALL SCREEN / BIG TABLET */

    #mainNav {
        border-radius: 0 0 20px 20px;
    }

    #nav_logo {
        width: 60%;
    }

    #mainNav li {
        font-size: 0.8em;
    }

    #mainNav .btn-lwb {
        font-size: 1em;
        width: 130px;
    }

    #languageSelect {
        font-size: 1em;
        border: none;
        margin-left: 20px;
    }

    #languageSelect:hover {
        cursor: pointer;
        text-decoration: none;
    }

    #languageSelect:focus {
        text-decoration: none;
        outline: none;
    }

    #languageSelect option {
        border: none;
    }

    .navbar-brand {
        width: 30% !important;
    }
}

@media only screen and (min-width: 1100px) {
    /* LAPTOP (MAC AIR 13") */

    #mainNav .btn-lwb {
        font-size: 1em;
        width: 160px;
    }
}

@media only screen and (min-width: 1200px) {
    /* LAPTOP (MAC AIR 13") */

    #nav_logo {
        width: 70%;
    }
}

@media only screen and (min-width: 1400px) {
    /* LAPTOP (MAC AIR 13") */

    #nav_logo {
        width: 70%;
    }

    #mainNav li {
        font-size: 1em;
    }

    #mainNav .btn-lwb {
        font-size: 1em;
        width: 170px;
    }
}

@media only screen and (min-width: 1920px) {
    /* 24" */
    #nav_logo {
        width: 60%;
    }
}

@media only screen and (min-width: 2560px) {
    /* 27" */

    #mainNav li {
        font-size: 1.2em;
    }

    #nav_logo {
        width: 30%;
    }

    #mainNav .btn-lwb {
        width: 190px;
    }

    #languageSelect {
        font-size: 1.3em;
    }

    .navbar-brand {
        width: 40% !important;
    }
}