:root {
    --main-blue: rgba(4, 184, 245, 255);
    --bg-color: rgba(242, 252, 255, 255);
    --darker-blue: rgba(0, 66, 88, 255);
}

#nav_logo {
    width: 40%;
}

@media only screen and (min-width: 768px) {
    /* TABLET */
    #nav_logo {
        width: 30%;
    }
}

@media only screen and (min-width: 992px) {
    /* SMALL SCREEN / BIG TABLET */

    #mainNav {
        border-radius: 0 0 20px 20px;
    }

    #nav_logo {
        width: 90%;
    }

    #mainNav li {
        font-size: 0.8em;
    }

    #mainNav .btn-lwb {
        font-size: 1em;
        width: 130px;
    }
}

@media only screen and (min-width: 1200px) {
    /* LAPTOP (MAC AIR 13") */


}

@media only screen and (min-width: 1400px) {
    /* LAPTOP (MAC AIR 13") */

    #nav_logo {
        width: 80%;
    }

    #mainNav li {
        font-size: 1em;
    }

    #mainNav .btn-lwb {
        font-size: 1em;
        width: 160px;
    }
}

@media only screen and (min-width: 1920px) {
    /* 24" */
    #nav_logo {
        width: 60%;
    }
}

@media only screen and (min-width: 2560px) {
    /* 27" */

    #mainNav li {
        font-size: 1.2em;
    }

    #nav_logo {
        width: 50%;
    }
}