:root {
    --main-blue: rgba(4, 184, 245, 255);
    --bg-color: rgba(242, 252, 255, 255);
    --darker-blue: rgba(0, 66, 88, 255);
}

h1 {
    font-weight: 600 !important;
}

body {
    position: relative;
    overflow: hidden !important;
}

#section_admin_support {
    margin-top: 100px;
    padding-left: 24px !important;
}

#section_admin_support img {
    width: 100%;
    margin-top: 50px;
}

#providing_img_div {
    display: none;
}

#section_ideal_addition img {
    width: 100%;
    margin-top: 50px;
}

#flexible_img_div {
    display: none;
}

#hyper_flexible_div {
    margin-bottom: 75px;
}

.nav_hexagon {
    background-color: rgba(218,244,253,255);
    height: 400px;
    width: 400px;
    transform: rotate(10deg);
    z-index: -9;
    top: -2%;
    left: -15%;
}

@media only screen and (min-width: 768px) {
    /* TABLET */

    .nav_hexagon {
        background-color: rgba(218,244,253,255);
        height: 450px;
        width: 450px;
        transform: rotate(10deg);
        z-index: -9;
        top: -2%;
        left: -5%;
    }
}

@media only screen and (min-width: 992px) {
    /* SMALL SCREEN / BIG TABLET */

}

@media only screen and (min-width: 1200px) {

    /* LAPTOP (MAC AIR 13") */

    #section_admin_support {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    #admin_support_div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 55% !important;
    }

    #section_admin_support img {
        width: 55%;
        z-index: 10;
    }

    #section_providing_pmo {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    #providing_support_div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 55% !important;
    }

    #providing_img_div {
        width: 45%;
        margin-right: 150px;
        display: block;
    }

    #section_providing_pmo img {
        width: 100%;
    }

    #section_ideal_addition {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    #ideal_addition_div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50% !important;
    }

    #section_ideal_addition img {
        width: 50%;
    }

    #section_hyper_flexible {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    #hyper_flexible_div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 55% !important;
    }

    #flexible_img_div {
        width: 40%;
        margin-right: 150px;
        display: block;
    }

    #section_hyper_flexible img {
        width: 100%;
    }

    /* HEXAGONS */

    #admin_hexagon_white {
        top: 13%;
        right: -3%;
        background-color: white;
        width: 500px;
        height: 500px;
    }

    #pmo_hexagon_white {
        z-index: -9;
        top: 28%;
        left: -10%;
        background-color: white;
        width: 500px;
        height: 500px;
        transform: rotate(90deg);
    }

    #addition_hexagon_white {
        z-index: -9;
        top: 45%;
        right: -3%;
        background-color: white;
        width: 500px;
        height: 500px;
    }

    #flexible_hexagon_white {
        z-index: -9;
        top: 62%;
        left: -10%;
        background-color: white;
        width: 500px;
        height: 500px;
        transform: rotate(90deg);
    }
}

@media only screen and (min-width: 1300px) {

    .nav_hexagon {
        top: -4%;
        left: -4%;
    }

    #admin_hexagon_white {
        top: 12%;
        right: -3%;
    }

    #pmo_hexagon_white {
        top: 29%;
        left: -10%;
    }

    #addition_hexagon_white {
        top: 47%;
        right: -3%;
    }

    #flexible_hexagon_white {
        top: 64%;
        left: -10%;
    }
}

@media only screen and (min-width: 1400px) {
    
    #admin_hexagon_white {
        top: 11%;
        right: -3%;
        width: 600px;
        height: 600px;
    }

    #pmo_hexagon_white {
        top: 28%;
        left: -10%;
        width: 600px;
        height: 600px;
    }

    #addition_hexagon_white {
        top: 47%;
        right: -3%;
        width: 600px;
        height: 600px;
    }

    #flexible_hexagon_white {
        top: 65%;
        left: -10%;
        width: 600px;
        height: 600px;
    }

}

@media only screen and (min-width: 1500px) {

    .nav_hexagon {
        top: -4%;
        left: -4%;
    }

    #admin_hexagon_white {
        top: 11%;
        right: -3%;
    }

    #pmo_hexagon_white {
        top: 28.5%;
        left: -10%;
    }

    #addition_hexagon_white {
        top: 46.5%;
        right: -3%;
    }

    #flexible_hexagon_white {
        top: 65%;
        left: -10%;
    }

    footer {
        margin-top: 150px;
    }
}

@media only screen and (min-width: 1600px) {

    #admin_hexagon_white {
        top: 11%;
        right: -3%;
        width: 700px;
        height: 700px;
    }

    #pmo_hexagon_white {
        top: 28%;
        left: -10%;
        width: 700px;
        height: 700px;
    }

    #addition_hexagon_white {
        top: 46%;
        right: -3%;
        width: 700px;
        height: 700px;
    }

    #flexible_hexagon_white {
        top: 65%;
        left: -10%;
        width: 700px;
        height: 700px;
    }
}

@media only screen and (min-width: 1700px) {

    .nav_hexagon {
        height: 600px;
        width: 600px;
        top: -5%;
        left: -4%;
    }

    #admin_hexagon_white {
        top: 11%;
        right: -3%;
    }

    #pmo_hexagon_white {
        top: 30%;
        left: -10%;
    }

    #addition_hexagon_white {
        top: 48%;
        right: -3%;
    }

    #flexible_hexagon_white {
        top: 67%;
        left: -10%;
    }
}

@media only screen and (min-width: 1800px) {

    #admin_hexagon_white {
        top: 11%;
        right: -3%;
        width: 800px;
        height: 800px;
    }

    #pmo_hexagon_white {
        top: 28%;
        left: -10%;
        width: 800px;
        height: 800px;
    }

    #addition_hexagon_white {
        top: 47%;
        right: -3%;
        width: 800px;
        height: 800px;
    }

    #flexible_hexagon_white {
        top: 67%;
        left: -10%;
        width: 800px;
        height: 800px;
    }
}


@media only screen and (min-width: 1920px) {
    /* 24" */

    .nav_hexagon {
        height: 600px;
        width: 600px;
        top: -5%;
        left: -2%;
    }

    #admin_support_div {
        width: 40% !important;
    }

    #section_admin_support img {
        width: 45%;
    }

    #admin_hexagon_white {
        top: 8%;
        right: -3%;
        background-color: white;
        width: 850px;
        height: 850px;
    }

    #providing_support_div {
        width: 40% !important;
    }

    #providing_img_div {
        width: 40% !important;
        z-index: 10;
    }

    #pmo_hexagon_white {
        top: 25%;
        left: -12%;
        background-color: white;
        width: 850px;
        height: 850px;
        transform: rotate(90deg);
    }

    #ideal_addition_div {
        width: 40% !important;
    }

    #section_ideal_addition img {
        width: 45%;
        margin-left: 150px;
        z-index: 10;
    }

    #addition_hexagon_white {
        top: 45%;
        right: -3%;
        background-color: white;
        width: 850px;
        height: 850px;
    }

    #section_hyper_flexible {
        margin-bottom: 150px;
    }

    #hyper_flexible_div {
        width: 40% !important;
    }

    #flexible_img_div {
        width: 40%;
        margin-right: 150px;
        z-index: 10;
    }

    #flexible_hexagon_white {
        top: 65%;
        left: -12%;
        background-color: white;
        width: 850px;
        height: 850px;
        transform: rotate(90deg);
    }
}

@media only screen and (min-width: 2560px) {
    /* 27" */

    .nav_hexagon {
        height: 600px;
        width: 600px;
        top: -3%;
        left: -2%;
    }

    #admin_hexagon_white {
        top: 7%;
        right: -3%;
        background-color: white;
        width: 1100px;
        height: 1100px;
    }

    #pmo_hexagon_white {
        top: 25%;
        left: -10%;
        background-color: white;
        width: 1100px;
        height: 1100px;
        transform: rotate(90deg);
    }

    #addition_hexagon_white {
        top: 47%;
        right: -3%;
        background-color: white;
        width: 1100px;
        height: 1100px;
    }

    #flexible_hexagon_white {
        top: 68%;
        left: -10%;
        background-color: white;
        width: 1100px;
        height: 1100px;
        transform: rotate(90deg);
    }
}